extends ../layout

block content
	.container
		.row
			.col-sm-6
				form.form-horizontal(method="POST",action="/user/signin")
					.form-group
						label.col-sm-2.control-label(for="signinName") 用户
						.col-sm-10
							input.form-control#signinName(name="user[name]", type="text", placeholder="Username")
					.form-group
						label.col-sm-2.control-label(for="signinPassword") 密码
						.col-sm-10
							input.form-control#signinPassword(name="user[password]", type="text", placeholder="password")
					.form-group
						.col-sm-offset-2.col-sm-10
							button.btn.btn-dedault(type="submit") Sign in
				